* {
  box-sizing: border-box; }

body {
  background: lightgrey;
  color: #485e74;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none; }

.header {
  background-color: red;
  width: 100vw; }
