* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  // overflow: hidden;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}
//utility
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
//var

$pd: 6rem;

//NAVIGATION

.header {
  background-color: transparent;
  transition: all 0.3s ease-in;
  height: 4rem;
  padding: .5rem 0;
  width: 100%;
  position: fixed;
  align-items: center;
  display: flex;
    justify-content: space-between;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
      &__link {
        text-decoration: none;
        color:black;
        padding: 1rem;
        font-weight: 600;
        font-size: 1.2rem;
        &--active{
          color: yellowgreen;
        }
      }
    }
  }
}
.active-nav {
  transition: all 0.3s ease-in;
  height: 3.5rem;
  padding: .5rem 0;
  background-color: black;
  div {
    .nav__link {
      color: white;
      &--active {
        color: darken(yellow, 10%);
      }
    }
    h1 {
      color: white;
      font-weight: bold;
    }
  }
}

//HOMEPAGE

.home-page {
  overflow: hidden;
  
  height: 200vh;
  padding-top: $pd;
}

.about-page {
  background-color: azure;
  height: 200vh;
  padding-top: $pd;
}

.shop-page {
  background-color: beige;
  height: 110vh;
  padding-top: $pd;
}
.contact-page {
  background-color: blanchedalmond;
  height: 110vh;
  padding-top: $pd;
  label {
    font-size: 1rem;
  }
}
